<link rel="stylesheet" href="https://ssl.gstatic.com/docs/script/css/add-ons1.css">
<h1>Comment</h1>
<textarea rows="4" cols="50" id="comment" placeholder="Please enter your comment here.">
</textarea>
<div>
<button class="action" id="insert">Insert</button>
<button  value="Close" onclick="google.script.host.close()">Close</button>
</div>
<script>
document.getElementById('insert').onclick= function(){
  var comment = document.getElementById('comment').value;
  google.script.run.changeTaskStatus(comment, '{{statusAfter}}');
  google.script.host.close();
};
</script>

