<link rel="stylesheet" href="https://ssl.gstatic.com/docs/script/css/add-ons.css">
<script src='https://code.jquery.com/jquery-2.1.3.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.8.1/mustache.min.js'>
</script>
<style>
.collapse{
  font-size: 20px;
  display:block;
}
.collapse + input{
  display:none;
}
.collapse + input + *{
  display:none;
}
.collapse+ input:checked + *{
  display:block;
}
.task:hover {
    color: #4d90fe;
    cursor: pointer; 
    cursor: hand;
}
</style>

<div align='right'>
    <input type='button' value='Refresh' onclick="google.script.run.showSidebar()" />
</div>

<div id='task_queue' style='display:none'>
{{#task_queues}}
<div>
    <label class='collapse' style='color: {{color}}' for='_{{index}}'>{{type}}</label>
    <input id='_{{index}}' type='checkbox' checked='checked'>
    <div>
        <ul>
        {{#tasks}}
            <li class='task'>{{name}}</li>
        {{/tasks}}
        </ul>
    </div>
</div>
{{/task_queues}}
</div>


<div id='table_of_content' style='display:none'>
<label class='collapse' style='color: black' for='_5'>Table of Content</label>
<input id='_5' type='checkbox' checked='checked'>
<div><ul>
{{#headers}}
<li id='{{toc}}'>{{text}}</li>
{{/headers}}
{{^headers}}
Please insert a table of content in the document using insert->table of content
{{/headers}}
</ul></div>
</div>

<script>
SB = {};


SB.findTaskHandler = function (result) {
    console.log('findTaskHandler res: ' + result);
};

SB.addClickHandler = function () {
    $('.task').click(function (e) {
        var task = $(this).parents('li').add(this).map(function () {
            return $.trim(this.firstChild.nodeValue)
        }).get();
        console.log('test run here task: ' + task);

        google.script.run.withSuccessHandler(SB.findTaskHandler)
            .findAndFocusOnTask(task[0]);
    });
};

SB.buildTaskQueue = function (result) {
    var taskQueue = document.getElementById('task_queue');
    var content = JSON.parse(result);
    taskQueue.innerHTML = Mustache.to_html(taskQueue.innerHTML, content);
    taskQueue.style.display = 'block';
    SB.addClickHandler();
};

SB.buildToC = function (result) {
  var content = JSON.parse(result);
  var list = document.getElementById('table_of_content');
  list.innerHTML = Mustache.to_html(list.innerHTML, content);
  list.style.display = 'block';
};

google.script.run.withSuccessHandler(SB.buildTaskQueue).getTasksString();
google.script.run.withSuccessHandler(SB.buildToC).getTOCString();


</script>
