<link rel="stylesheet" href="https://ssl.gstatic.com/docs/script/css/add-ons.css">
<script src='https://code.jquery.com/jquery-2.1.3.min.js'></script>
<style>
.collapse{
  font-size: 20px;
  display:block;
}
.collapse + input{
  display:none;
}
.collapse + input + *{
  display:none;
}
.collapse+ input:checked + *{
  display:block;
}
</style>

<div align='right'>
    <input type='button' value='Refresh' onclick="google.script.run.showSidebar()" />
</div>

<div>
{{#task_queues}}
<div>
    <label class='collapse' style='color: {{color}}' for='_{{index}}'>{{type}}</label>
    <input id='_{{index}}' type='checkbox' checked='checked'>
    <div>
        <ul>
        {{#tasks}}
            <li>{{name}}</li>
        {{/tasks}}
        </ul>
    </div>
</div>
{{/task_queues}}
</div>
